In [9]:
%matplotlib inline
import requests
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy.signal import savgol_filter
import csv
import geopandas

ModuleNotFoundError: No module named 'geopandas'

In [2]:
nypd_complaint_2020 = pd.read_csv('data/nypd_complaint_2020_cleaned.csv')
nypd_complaint_2019 = pd.read_csv('data/nypd_complaint_2019_cleaned.csv')

In [3]:
nypd_complaint_2019

,Unnamed: 0,date,level,susp_age_group,susp_race,susp_sex,vic_age_group,vic_race,vic_sex,latitude,longitude
0,0,05/08/2019,FELONY,45-64,BLACK,M,65+,BLACK,M,40.823101,-73.869690
1,1,11/24/2019,FELONY,25-44,BLACK,M,25-44,BLACK,M,40.822570,-73.911307
2,2,05/07/2019,MISDEMEANOR,45-64,WHITE HISPANIC,M,45-64,BLACK,F,40.849712,-73.830373
3,3,06/17/2019,FELONY,UNKNOWN,UNKNOWN,Others,45-64,WHITE HISPANIC,M,40.715414,-73.905945
4,4,07/17/2019,VIOLATION,45-64,BLACK,F,25-44,BLACK,F,40.666796,-73.896512
...,...,...,...,...,...,...,...,...,...,...,...
6561,6562,12/13/2019,FELONY,25-44,BLACK,M,25-44,WHITE,M,40.795695,-73.938737
6562,6563,12/24/2019,MISDEMEANOR,UNKNOWN,WHITE,M,45-64,WHITE,F,40.634049,-74.076606
6563,6564,12/24/2019,FELONY,UNKNOWN,UNKNOWN,Others,UNKNOWN,UNKNOWN,D,40.776140,-73.910701
6564,6565,12/05/2019,FELONY,UNKNOWN,UNKNOWN,Others,45-64,WHITE HISPANIC,M,40.862924,-73.893857
6565,6566,12/16/2019,FELONY,UNKNOWN,UNKNOWN,Others,45-64,WHITE,M,40.676570,-73.845620